<%= simple_form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
      <ul><% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lh_region %><br>
    <%= f.text_field :lh_region %>
  </div>
  <div class="field">
    <%= f.label :orig %><br>
    <%= f.text_field :orig %>
  </div>
  <div class="field">
    <%= f.label :dest %><br>
    <%= f.text_field :dest %>
  </div>
  <div class="field">
    <%= f.label :rail %><br>
    <%= f.text_field :rail %>
  </div>

  <div class="col-md-6">
    <h3> Cutoff and Arrive </h3>
      <div id="cutoff">
        <%= simple_fields_for :moves do |move| %>
          <%= render 'move_fields', f: move %><br>
        <div class="links">
          <%= link_to_add_association "Add Additional Cutoff/Arrive", f, :moves, class: "btn btn-default add-button" %><br>
        <% end %>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <h3>Equipment Type Preferences</h3>
      <div id="cutoff">
        <%= simple_fields_for :equipment do |equipment| %>
          <%= render 'equipment_fields', f: equipment %><br>
        <div class="links">
          <%= link_to_add_association "Add another preferred equipment", f, :equipment, class: "btn btn-default add-button" %><br>
        </div>
        <% end %>
      </div>
   <%= f.button :submit, class: "btn btn-default btn-primary" %>
  </div>
<% end %>


