<h1>Editing Schedule</h1>

<%= render 'form' %>

 <div class="row">
    <div class="col-md-6">
      <div id="move">
        <h2>Legs</h2>
        <ul>
          <% @schedule.moves.each do |move| %>
          <li>Cutoff <%= move.cutoff %></li>
          <li>Available <%= move.available %></li><br>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="equipment">
        <h2>Equipment Preferences</h2>
        <ul>
          <% @schedule.equipment.each do |equipment| %>
          <li><%= equipment.equipment_preference %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= link_to 'Back', schedules_path %>
