
.main_content
  .col-md-12
    Linehaul Region
    = @schedule.lh_region
    %br/
    %p Rail Origin
    = @schedule.orig
    %p Rail Destination
    = @schedule.dest
    %p Rail Carrier
    = @schedule.rail

  .row
    .col-md-6
      .move
        %h2 Legs
        %ul
          - @schedule.moves.each do |move|
            %li Cutoff
            = move.cutoff
            %li Available
            = move.available

  .row
    .col-md-6
      .equipment
        %h2 Equipment Preferences
        %ul
          - @schedule.equipment.each do |equipment|
            %li= equipment.equipment_preference

  .row
    .col-md-12
      = link_to "Edit", edit_schedule_path(@schedule), class: "btn btn-default"
      = link_to "Back", schedules_path, class: "btn btn-default"



